/* Sobreposição de Carregamento */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 10, 7, 0.9);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.spinner-overlay.show {
    visibility: visible;
    opacity: 1;
}

.pie-spinner {
    font-size: 4rem;
    color: var(--primary);
    animation: pulse-spin 1.5s infinite;
}

@keyframes pulse-spin {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1) rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 0.8;
    }
}